[main]
Description=HP eFinanz
Host=85.158.228.10
AuthType=1
GroupName=eFinanz_HP
GroupPwd=
enc_GroupPwd=D6B271D118BA37486B6D43102F7686B20384C1AAF1F60D34CFB005C8DF94358D37D5860B8CFD08ED73EDDB9A421128888FB2F3CC29BB75FB
EnableISPConnect=0
ISPConnectType=0
ISPConnect=UMTS bevorzugt Connection
ISPPhonebook=C:\WINNT\Profiles\All Users\Anwendungsdaten\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=daniHP
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
